.step-links .row {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.table-header-item-name,
.table-header-item-quantity,
.table-header-item-type,
.table-header-item-price,
.table-header-item-status {
    cursor: pointer;
}