{% extends 'base.html' %}

{% block title %}Item {{ items.item_name }} edit{% endblock %}

{% block content %}

<div class="main">
    <form method="POST">
        {% csrf_token %} 
        Are you sure you want to delete this item ?
        <input type="submit" value="Yes" /> 
        <a href="/show/">Cancel </a>
    </form> 
</div>

{% endblock %}