{% extends 'base.html' %}

{% block title %}Item {{ items.item_name }} edit{% endblock %}

{% block content %}
<form method="POST" class="post-form" action="/update/{{item.item_id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Item Id:</label>
            <div class="col-sm-4">
                <input type="text" name="ItemId" id="id_ItemID" required maxlength="20" value="{{ item.item_id }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Item Name:</label>
            <div class="col-sm-4">
                <input type="text" name="ItemName" id="id_ItemName" required maxlength="100" value="{{ item.ItemName }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Unit of Measure:</label>
            <div class="col-sm-4">
                <input type="text" name="UnitofMeasure" id="id_UnitofMeasure" required maxlength="100" value="{{ item.UnitofMeasure }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quantity:</label>
            <div class="col-sm-4">
                <input type="text" name="UnitofMeasure" id="id_Quantity" required maxlength="100" value="{{ item.Quantity }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price:</label>
            <div class="col-sm-4">
                <input type="text" name="Price" id="id_Price" required maxlength="100" value="{{ item.Price }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Item Type:</label>
            <div class="col-sm-4">
                <input type="text" name="ItemType" id="id_ItemType" required maxlength="100" value="{{ item.ItemType }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-4">
                <input type="text" name="Status" id="id_Status" required maxlength="100" value="{{ item.Status }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}