{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content%}
<h1>Hello World</h1>
<p>
    Temporary homepage for Warehouse app
</p>
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
{% if user.is_authenticated %}
    <p>Hello, {{ user.first_name }}</p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login here</a>
{% endif %}
{% endblock %}