{% extends 'base.html' %}

{% block title %}Item {{ items.item_name }} edit{% endblock %}

{% block content %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/item_request/">
  {% csrf_token %}
  <div class="container">
    <br>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <h3>Enter Details</h3>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Item Name:</label>
      <div class="col-sm-4">
        {{ form.item_name }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Unit of Measure:</label>
      <div class="col-sm-4">
        {{ form.unit_of_measure }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Quantity:</label>
      <div class="col-sm-4">
        {{ form.quantity }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-4">
        {{ form.price }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Item Type:</label>
      <div class="col-sm-4">
        {{ form.item_type }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Item Status:</label>
      <div class="col-sm-4">
        {{ form.status }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    {% for message in messages %}
      <p>{{ message }}</p>
      <p>{ Submit to create an item }</p>
    {% endfor %}
  </div>
</form>
</body>
</html>

{% endblock %}