{% extends 'base.html' %}

{% block title %}Item {{ item.item_name }} view{% endblock %}

{% block content %}

<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Item: {{item.item_name}}</h5>
            <a href="#" class="thumbnail">
                <img src="placeholder" class="img-thumbnail" alt="item image">
            </a>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="/edit/{{ item.id }}">Update</a>
            <a class="btn btn-outline-info btn-sm btn-block" href="/delete/{{ item.id }}">Delete</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Item information</h5>
            <hr>
            <p>Quantity: {{item.quantity}}</p>
            <p>Weight: {{item.quantity}} {{item.unit_of_measure}}</p>
            <p>EOT: {{item.id}}</p>
            <p>Type: {{item.item_type}}</p>
            <p>Price: {{item.price}} &#x20AC;</p>
            <p>Status: {{item.status}}</p>
        </div>
    </div>
</div>

{% endblock %}