{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
    <form class="site-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" value="Login" class="btn btn-submit">
    </form>
    <p>Do not have an account? Sign up <a href="{% url 'signup' %}">here</a></p>
{% endblock %}