<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container fixed">
    <a class="navbar-brand" href="/">Warehouse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">

          Home
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/item_request">
          New Entry
        </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/show">
          Item show
        </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/export">
          Export Data
        </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/logout">
          Logout
        </a>
      </div>
      {% else %}
       <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/login">
          Login
        </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/signup">
          Register
        </a>
      </div>
      {% endif %}
    </div>
    </form>
  </div>
</nav>