{% extends 'base.html' %}
{% load static %}

{% block title %}Item list{% endblock %}

{% block content %}
<form class="form-inline my-2 my-lg-0" action="{% url 'show' %}">
    <input class="form-control mr-sm-2" type="search"   placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="navbar-nav">
    <a class="nav-item nav-link active" href="/show">
        Clear search
    </a>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="table-header-item-name" onclick="sortTable(0)">Item Name</th>
                <th class="table-header-item-quantity" onclick="sortTable(1)">Unit of Measure</th>
                <th class="table-header-item-quantity" onclick="sortTable(2)">Quantity</th>
                <th class="table-header-item-price" onclick="sortTable(3)">Price</th>
                <th class="table-header-item-type" onclick="sortTable(4)">Item Type</th>
                <th class="table-header-item-status" onclick="sortTable(5)">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for item in page_obj %}
            <tr>
                <td><a href="/item/{{ item.id }}">{{ item.item_name }}</a></td>
                <td>{{ item.unit_of_measure }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.item_type }}</td>
                <td>{{ item.status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2">
        <a class="btn btn-outline-info btn-sm btn-block" href="/item_request">Add new item</a>
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        <div class="row">
        {% if page_obj.has_previous %}
            <div class="btn-group">
                <a href="?page=1" class="btn btn-outline-info">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">Previous</a>
            </div>
        {% endif %}

            <div class="col">
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </div>

        {% if page_obj.has_next %}
            <div class="btn-group">
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info">Last &raquo;</a>
            </div>
        {% endif %}
        </div>
    </span>
</div>

{% endblock %}