{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form class="site-form" action="{% url 'signup' %}"  method="post">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit" value="Sign up" class="btn btn-submit">
    </form>
{% endblock %}